.list-head{
    display: grid;
    grid-template-columns: 10vw 30vw 10vw 20vw 20vw 10vw;
    text-align: left;
    border-bottom: 0.7px solid silver;
    padding:12px;
}

.details-head {
padding: 12px;
}