

.list{
    display: grid;
    grid-template-columns:  10vw 30vw 10vw 20vw 20vw 10vw;
    text-align: left;
    border-bottom: 0.7px solid rgba(192, 192, 192, 0.596);
    padding: 12px;
    align-items: center;
}

.button-style{
    background-color: rgb(243, 200, 212);
    border: 1px solid #8c99a7ab;
    align-self: center;
    outline-color: rgb(240, 218, 225);
   margin: 0 12px;
    height: 20px;
    width: 40px;
    border-radius: 20px;
    outline: none;
      
}

